.baris1 {
    left: 55px;
    position: relative;
    bottom: 45px;
}

.baris2 {
    left: 55px;
    position: relative;
    bottom: 45px;
}

.baris3 {
    left: 55px;
    position: relative;
    bottom: 45px;
}

.teks1 {
    position: relative;
    right: 230px;
    top: 15px;
}